$mainColor: #FFA726; 

.display {
    display: none;
}

$column: 12;
$site-width: 1200px;
$gutter: 10px;
$tablet-breakpoint: 768px;
$tablet-up: "only screen and (min-width: 768px)";

@mixin clear {

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    ul {
        list-style: none;
    }
}

.container {
    width: 100%;
    max-width: $site-width;
    margin: 0 auto;

    .row {
        margin: 10px 0;

        @include clear();

        [class*="col-"] {

            float: left;
            min-height: 2px;
            width: 100%;
            padding: 0 $gutter;
        }

        @for $i from 1 through $column {
            .col-#{$i} {
                @media #{$tablet-up} {
                    width: (100%/$column)*$i;

                }

            }
        }
    }
    .clearfix {
        @include clear();
    }

    .hide {
        @media #{$tablet-up} {
            display: none;
        }
    }
}

#navigation {

    background-color: $mainColor;

    .c-hamburger {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 96px;
        height: 96px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        transition: background 0.3s;
        
        span {
            display: block;
            position: absolute;
            top: 44px;
            left: 18px;
            right: 18px;
            height: 8px;
            background: white;
        }

        span::before,
        span::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: #fff;
            content: "";
        }

        span::before {
            top: -20px;
        }
        span::after {
            bottom: -20px;
        }
    }

    .c-hamburger:focus {
        outline: none;
    }

    .c-hamburger--htra {
        background-color: $mainColor;

        span {
            transition: transform 0.3s;
        }

        span::before {
            transform-origin: top left;
            transition: transform 0.3s, width 0.3s, top 0.3s;
        }

        span::after {
            transform-origin: bottom left;
            transition: transform 0.3s, width 0.3s, bottom 0.3s;
        }
    }

    #profile {
        display: inline-block;
        width: 20vw;
        img {
            display: inline-block;
            height: 5vw;
            width: 5vw;
        }
        input {
            outline: 0;
            border: 0;
        }
    }

    #searchBar {
        display: inline-block;
        width: 60vw;
    }
}

#leftComponents {
    display: none;
    @media #{$tablet-up} {
        display: block;
    }
}

#rightComponents {
    display: none;
    @media #{$tablet-up} {
        display: block;
    }
}