$mainColor: #FFA726; 

.display {
    display: none;
}

$column: 12;
$site-width: 1200px;
$min-site-width: 320px;
$tablet-breakpoint: 768px;
$tablet-up: "only screen and (min-width: 768px)";
$tablet-down: "only screen and (max-width: 768px)";

@mixin clear {

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    ul {
        list-style: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

body {
    margin: 0;
}

.centered {
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: $site-width;
    min-width: $min-site-width;
    margin: 0 auto;

    .hide {
        @media #{$tablet-up} {
            display: none;
        }
    }

    .fixed {
        @media #{$tablet-down} {
            margin-top: 96px;
        }
        position: fixed;
        width: 100%;
        max-width: $site-width;
        top: 0;
        margin: 0 auto;
        margin-top: 30px;
        z-index: 8;
    }

    .row {

        @include clear();

        [class*="col-"] {

            float: left;
            min-height: 2px;
            width: 100%;
        }

        @for $i from 1 through $column {
            .col-#{$i} {
                @media #{$tablet-up} {
                    width: (100%/$column)*$i;

                }

            }
        }
    }
    .clearfix {
        @include clear();
    }

    .hide {
        @media #{$tablet-up} {
            display: none;
        }
    }

    input {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
        margin: 15px 0 15px 0;
        display: inline-block;
    }

    .profileForm input {
        display: block;
        margin: 10px 0;
    }
    .profileForm input:first-child {
        margin: 10px auto;
    }

    
}

#navigation {
    width: 100%;
    height: 96px;
    background-color: $mainColor;
    max-width: $site-width;
    position: fixed;
    top: 0;
    z-index: 10000000000000;
    margin: 0 auto;

    div {
        display: inline-block;
    }

    .c-hamburger {
        @media #{$tablet-up} {
            display: none;
        }
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 96px;
        height: 96px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        transition: background 0.3s;
        
        span {
            display: block;
            position: absolute;
            top: 44px;
            left: 18px;
            right: 18px;
            height: 8px;
            background: white;
        }

        span::before,
        span::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: #fff;
            content: "";
        }

        span::before {
            top: -20px;
        }
        span::after {
            bottom: -20px;
        }
    }

    .c-hamburger:focus {
        outline: none;
    }

    .c-hamburger--htra {
        background-color: $mainColor;
    }

    #searchBar {
        display: block;
        margin: 0 auto;
        input {
            display: block;
            margin: 0 auto;
            width: 50%;
        }
    }
    a {
        position: absolute;
        left: 30px;
        display: block;
        @media #{$tablet-up} {
            display: none;
        }
        img {
            height: 48px;
            width: 48px;
        }
    }

    #burger {
        position: absolute;
        top: 0;
        right: 20px;
    }
}

#leftComponents {
    position: absolute;
    top: 76px;
    display: none;
    @media #{$tablet-up} {
        display: block;
    }
    a {
        img {
            height: 50px;
            width: 50px;
        }
    }
}

#activeContent {
    display: flex;
    position: relative;
    margin: 0 auto;
    float: none;
    z-index: 12;
    padding: 0;
    @media #{$tablet-down} {
        top: 105px;
    }
    top: 105px;
    align-content: center;
    justify-content: center;

    #profile img {
        display: block;
    }
    #profile img,
    #profile h2, {
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    h2 {
        padding-top: 20px;
        text-align: center;
        margin: 0 auto;
    }

    #messages {
        width: 100%;
    }
    
}

#burgerMenu {
    position: relative;
    margin: 0 auto;
    float: none;
    z-index: 12;
    top: -10px;
    padding: 0;
    width: 100%;
    ul {
        margin: 0 auto;
        width: 100%;
        li {
            display: block;
            width: 100%;
            text-transform: uppercase;

            .burgerClass {
                width: 100%;
                background-color: $mainColor;
                padding: 30px;
                a{
                    display: block;
                }
            }
        }
    }
    
}

#rightComponents {
    position: absolute;
    top: 76px;
    right: 0;
    display: none;
    @media #{$tablet-up} {
        display: block;
    }
}